<p id="notice"><%= notice %></p>

<h2>Все категории</h2>
<% Category.all.each do |cat| %>
	<%= link_to cat.name, posts_path(category: cat.name) %> <br>
<% end %>

<%= link_to 'Новая категория', new_category_path %>


<table>
  <thead>
    <tr>
      <th>Название</th>
      <th>Заголовок</th>
      <th>Автор</th>
      <!-- <th>Content</th> -->
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.name %></td>
        <td><%= post.title %></td>
        <td><%= post.author %></td>
        <td><%= post.category.name %></td>
        <td><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Лайк' : 'Лайков'%></td>
        <td><%= post.comments.count %> <%= (post.comments.count) == 1 ? 'Коментарий' : 'Комментариев'%></td>
        <td><%= post.content.html_safe %></td>
        <td><%= link_to 'Посмотреть', post %></td>
        <td><%= link_to 'Редактировать', edit_post_path(post) %></td>
        <td><%= link_to 'Удалить', post, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>







<%= link_to 'Новый пост', new_post_path %>
